;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

{
  :applications {:browser ["^com\\.google\\.Chrome$"]
                 :sublime ["^com\\.sublimetext\\.4$"]
                 :term ["^net\\.kovidgoyal\\.kitty$"]}
  :main [{:des "Yabai commands"
          :rules [[:!Qn "/usr/local/bin/yabai -m window --focus west"]
                  [:!Qe "/usr/local/bin/yabai -m window --focus south"]
                  [:!Qi "/usr/local/bin/yabai -m window --focus east"]
                  [:!Qu "/usr/local/bin/yabai -m window --focus north"]
                  [:!Qf "/usr/local/bin/yabai -m window --toggle zoom-fullscreen"]]}
         {:des "Home and End keys outside terminal"
          :rules [[:#SRhome :!Cleft_arrow :!term]
                  [:#SRend :!Cright_arrow :!term]]}
         {:des "Home and End keys in terminal"
          :rules [[:home :!Ta :term]
                  [:end :!Te :term]]}
         {:des "Delete forward in terminal"
          :rules [[:!Rdelete_forward :delete_forward]
                  [:!Sdelete_forward :delete_forward]]}
         {:des "Find"
          :rules [[:!Tf :!Cf]
                  [:!Wf :!Cf]]}
         {:des "Select URL in browser"
          :rules [[:!Tl :!Cl :browser]
                  [:!Wl :!Cl :browser]]}
         {:des "Copy, paste, cut"
          :rules [[:!Tx :!Cx :!term]
                  [:!Tc :!Cc :!term]
                  [:!Tv :!Cv :!term]
                  [:!Wx :!Cx :!term]
                  [:!Wc :!Cc :!term]
                  [:!Wv :!Cv :!term]]}
         {:des "Window and tab control"
          :rules [[:!T#SRn :!Cn :!term]
                  [:!Tt :!Ct :!term]
                  [:!Tw :!Cw :!term]
                  [:!W#SRn :!Cn :!term]
                  [:!Wt :!Ct :!term]
                  [:!Ww :!Cw :!term]]}
         {:des "Alt tab"
          :rules [[:!Otab :!Ctab]
                  [:!Etab :!Ctab]]}
         {:des "Ctrl + Enter"
          :rules [[:!Treturn_or_enter :!Creturn_or_enter]
                  [:!Wreturn_or_enter :!Qreturn_or_enter]]}]}
