;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; Q  | right_command
;; O  | left_option
;; E  | right_option
;; T  | left_control
;; W  | right_control
;; S  | left_shift
;; R  | right_shift
;; F  | fn
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

{
  :applications {:general ["^com\\.google\\.Chrome$"
                           "^com\\.tinyspeck\\.slackmacgap$"
                           "^com\\.agilebits\\.onepassword7$"
                           "^us\\.zoom\\.xos$"
                           "^com\\.apple\\.finder$"
                           "^com\\.postmanlabs\\.mac$"]
                 :browser ["^com\\.google\\.Chrome$"]
                 :finder ["^com\\.apple\\.finder$"]
                 :bitwarden ["^com\\.bitwarden\\.desktop$"]
                 :slack ["^com\\.tinyspeck\\.slackmacgap$"]
                 :sublime ["^com\\.sublimetext\\.4$"]
                 :vscode ["^com\\.microsoft\\.VSCode$"]
                 :term ["^net\\.kovidgoyal\\.kitty$"]}
  :templates {:launch "open -a %s.app"}
  :main [
    {:des "Amethyst commands"
    :rules [
      [:!Qi :!CTOi] ;; Move focus clockwise
      [:!Qn :!CTOn] ;; Move focus counter clockwise
      [:!Q#SRi :!CTOSi] ;; Swap focused window clockwise
      [:!Q#SRn :!CTOSn] ;; Swap focused counter clockwise
      [:!Qd :!CTOd] ;; Toggle float for focused window
      [:!Qr :!CTOr] ;; Re-evaluate tiling
     ]}
         {:des "Launch apps"
          :rules [[:!QTt [:launch "kitty"]]
                  [:!QWt [:launch "kitty"]]
                  [:!QTs [:launch "Slack"]]
                  [:!QWs [:launch "Slack"]]
                  [:!QTb [:launch "Bitwarden"]]
                  [:!QWb [:launch "Bitwarden"]]
                  [:!QTz [:launch "zoom.us"]]
                  [:!QWz [:launch "zoom.us"]]]}
         {:des "Home and End keys outside terminal"
          :rules [[:#SRhome :!Cleft_arrow :general]
                  [:#SRend :!Cright_arrow :general]]}
         {:des "Ctrl+Super+L to lock screen"
          :rules [[:!TQl :!TCq]
                  [:!WQl :!TCq]]}
         {:des "Ctrl plus arrow"
          :rules [[:!T#SRleft_arrow :!Oleft_arrow :general]
                  [:!T#SRright_arrow :!Oright_arrow :general]]}
         {:des "Delete forward in terminal"
          :rules [[:!Rdelete_forward :delete_forward]
                  [:!Sdelete_forward :delete_forward]]}
         {:des "Alt+F4"
          :rules [[:!Of4 :!Cq]]}
         {:des "Show hidden files in finder"
          :rules [[:!Th :!CSperiod :finder]
                  [:!Wh :!CSperiod :finder]]}
         {:des "Copy password from Bitwarden"
          :rules [[:!Tp :!Cp :bitwarden]
                  [:!Qp :!Cp :bitwarden]
                  [:!Tu :!Cu :bitwarden]
                  [:!Qu :!Cu :bitwarden]]}
         {:des "Text manipulation"
          :rules [[:!Tb :!Cb :general]
                  [:!Wb :!Cb :general]
                  [:!Ti :!Ci :general]
                  [:!Wi :!Ci :general]
                  [:!Tu :!Cu :general]
                  [:!Wu :!Cu :general]]}
         {:des "Ctrl+F to find"
          :rules [[:!Tf :!Cf :general]
                  [:!Wf :!Cf :general]]}
         {:des "Browser specific controls"
          :rules [[:!Tl :!Cl :browser]
                  [:!Wl :!Cl :browser]
                  [:!Tj :!CSj :browser]
                  [:!Wj :!CSj :browser]
                  [:!Th :!Cy :browser]
                  [:!Wh :!Cy :browser]
                  [:!Tr :!Cr :browser]
                  [:!Wr :!Cr :browser]
                  [:!TSi :!COi :browser]
                  [:!TRi :!COi :browser]
                  [:!WSi :!COi :browser]
                  [:!WRi :!COi :browser]
                  [:!Oleft_arrow :!Cleft_arrow :browser]
                  [:!Oright_arrow :!Cright_arrow :browser]]}
         {:des "Mouse control"
          :rules [[{:pkey :button1 :modi :left_control} {:pkey :button1 :modi :left_command} :general]
                  [{:pkey :button1 :modi :left_control} {:pkey :button1 :modi :left_command} :vscode]]}
         {:des "Mouse workspace switch"
          :rules [[{:pkey :button4} {:key :open_bracket :modi :right_command}]
                  [{:pkey :button5} {:key :close_bracket :modi :right_command}]]}
         {:des "Copy, paste, cut, undo, redo, select, save"
          :rules [[:!Tx :!Cx :general]
                  [:!Ta :!Ca :general]
                  [:!Tc :!Cc :general]
                  [:!T#SRv :!Cv :general]
                  [:!T#SRz :!Cz :general]
                  [:!Ty :!Cy :general]
                  [:!Ts :!Cs :general]
                  [:!Wx :!Cx :general]
                  [:!Wa :!Ca :general]
                  [:!Wc :!Cc :general]
                  [:!W#SRv :!Cv :general]
                  [:!W#SRz :!Cz :general]
                  [:!Wy :!Cy :general]
                  [:!Ws :!Cs :general]]}
         {:des "Window and tab control"
          :rules [[:!T#SRn :!Cn :general]
                  [:!T#SRt :!Ct :general]
                  [:!Tw :!Cw :general]
                  [:!Tt :!Ct :general]
                  [:!Wt :!Ct :general]
                  [:!W#SRn :!Cn :general]
                  [:!W#SRt :!Ct :general]
                  [:!Ww :!Cw :general]]}
         {:des "Sublime fixes"
          :rules [[:!O##e :!Odown_arrow :sublime]
                  [:!O##e :!Odown_arrow :sublime]]}
         {:des "Ctrl + Enter"
          :rules [[:!Treturn_or_enter :!Creturn_or_enter]
                  [:!Wreturn_or_enter :!Creturn_or_enter]
                  [:!Tdelete_or_backspace :!Odelete_or_backspace]
                  [:!Wdelete_or_backspace :!Odelete_or_backspace]]}
         {:des "Slack shortcuts"
          :rules [[:!Tk :!Ck :slack]
                  [:!Wk :!Ck :slack]
                  [:!Tcomma :!Ccomma :slack]
                  [:!Wcomma :!Ccomma :slack]]}
         {:des "Sleep"
          :rules [[:!OQz :!TSeject]]}]}
